@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

:root {
    --text: rgb(65, 32, 250);
    --bg: rgb(175, 195, 255);
    font-size: 50px;
    background-color: var(--bg);
}

*:not(span) {
    font-family: 'Modak', 'Cooper', 'Bauhaus 93', 'Bugaki';
    font-weight: 300;
}

.root {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.alert {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    font-size: 20px;
    transition: opacity 3s;
    transition-delay: 3s;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 70vw;
    height: 15vh;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}


#popup {
    top: 0;
    left: 0;
    position: fixed;
    color: var(--text);
    background-color: var(--bg);
    font-size: 40px;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 1000;
}

#popup.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup button {
    width: fit-content;
}

.queue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
}

.queue li {
    width: 90%;
    padding: 10px;
    list-style-type: none;
    border-bottom: 2px solid var(--text);
}

.queueItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

li span {
    flex: 5;
    font-size: 40px;
}

.dashboard {
    font-size: .57rem;
    color: var(--text);
    margin-top: 7px;
}

li button {
    height: 30px;
    width: fit-content;
    font-size: 25px;
    flex: 1;
}

h1 {
    color: var(--text);
    font-size: 1rem;
}

h2 {
    font-size: .75rem;
    color: var(--text);
}

h3 {
    font-size: .75rem;
    color: var(--text);
}

.container {
    color: var(--text);
    align-items: center;
    justify-items: center;
}

.container li {
    font-size: 30px;
}

button {
    text-align: center;
    background-color: var(--text);
    color: var(--bg);
    height: 60px;
    border-radius: 15px;
    border: none;
    min-width: 60px;
    width: fit-content;
    font-size: .5rem;
    box-shadow: -3px 3px 0px rgb(0, 0, 0);
    cursor: pointer;
}

.input-row {
    width: 95%;
    max-width: 95%;
    font-size: .8rem;
    height: 75px;
    font-size: 25px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"] {
    margin-right: 5px;
}

fieldset {
    height: 85%;
}

input:checked {
    border: 6px solid black;
}

.input-row input {
    min-width: 0;
    height: 75px;
    flex: 3.5;
    font-size: .65rem;
    border-radius: 15px;
    padding: 5px;
}

.transition-button {
    height: fit-content;
    border-radius: 15px;
    width: fit-content;
    font-size: 0.4rem;
    text-align: center;
}

.transition-button:active,
button:active {
    opacity: 0.9;
    background-color: yellow;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(2, 60px);
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 5%;
    left: 5%;
}

.button-grid button {
    width: 75px;
    justify-content: center;
}

.button-row {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    gap: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button-row button {
    height: fit-content;
}

.instructions-list {
    text-align: left;
    display: inline-block;
    font-size: .7rem;
}

.instructions-list li {
    margin-bottom: 10px;
}